<launch>
 <include file="$(find openni_launch)/launch/openni.launch"/>
	<node name="servo_mast" pkg="servo_mast" type="servo_mast" />
	<node name="kinect_aux" pkg="kinect_aux" type="kinect_aux_node" />
	<node name="cord_pub" pkg="cord_pub" type="cord_pub" />
	<node name="openni_tracker" pkg="openni_tracker" type="openni_tracker" />
	<node name="simpub" pkg="simpub3" type="simpub3" output="screen"/>
</launch>
